/* GLOBAL RULES  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(7, 7, 7);
}
:root {
  --mycolor: rgba(0, 43, 33, 0.5);
  --acolor: rgba(255, 255, 255, 0.3);
}
html {
  scroll-behavior: smooth;
}

/*END GLOBAL RULES  */

/* BODY THINGS */

header {
  position: absolute;
  width: 100%;
  z-index: 2;
}
header ul li a {
  color: var(--acolor);
  text-decoration: none;
}
header h1 {
  cursor: pointer;
}
header h1 a {
  color: white;
  text-decoration: none;
}
.container {
  width: 90%;
  margin: auto;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.container nav ul {
  display: flex;
  color: var(--acolor);
  flex-wrap: wrap;
}
.container nav ul li {
  display: block;
  padding: 10px 30px;
  cursor: pointer;
}
.container i {
  text-align: center;
  cursor: pointer;
}
.searchbox {
  max-width: 130px;
  height: 30px;
  position: absolute;
  top: 48%;
  left: 71%;
  transform: translateY(-50%);
  font-size: 13px;
  clip-path: circle(0px at 10%);
  transition: 1s linear;
  padding-left: 10px;
  color: var(--acolor);
}

.searchbox.openn {
  clip-path: circle(200px at 100%);
}
@media (max-width: 1300px) {
  .searchbox {
    left: 77%;
  }
}
@media (max-width: 767px) {
  .searchbox {
    display: none;
  }
}

.fa-bars {
  display: none;
  color: white;
  font-size: 22px;
  text-align: center;
}
@media (max-width: 768px) {
  header h1 {
    position: fixed;
    left: 5%;
    opacity: 0.5;
  }
  .container .nav {
    display: none;
  }
  .nav.display {
    display: block;
  }
  .active::after {
    display: none;
  }

  .display ul {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;

    font-size: 20px;
  }

  .search {
    display: none;
  }
  .fa-bars {
    display: block;
    position: sticky;
    left: 90%;
    opacity: 0.6;
  }
}

.container::after {
  content: "";
  height: 1px;
  position: absolute;
  background-color: wheat;
  top: 100%;
  left: 0%;
  width: 100%;
}

.search {
  width: 100px;
  border-left-style: solid;
  position: relative;
  height: 25px;
  color: white;
  background-color: transparent;
}
@media (max-width: 1300px) {
  .search {
    border-left-style: hidden;
  }
}

.search .fa-search {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}
li {
  position: relative;
}
.active::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: white;
  top: 100%;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.lin {
  transition: 0.8s;
  transform: translateX(0);
}

/* START MAIN  */
main {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url(images/pexels-mstudio-1579631.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  overflow: hidden;
}

/* END START MAIN  */

.over {
  width: 600px;
  height: 300px;
  background-color: var(--mycolor);
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
  color: white;
  display: flex;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 10px;
  animation: changepos 1s ease-in-out alternate-reverse infinite;
}
@media (max-width: 767px) {
  .over {
    width: 100%;
  }
}
.angle-left {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.angle-right {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.bullets {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  display: flex;
}
.bu {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px white solid;
  margin: 10px;
  cursor: pointer;
}
.bu.activee {
  background-color: grey;
}

.services-container {
  border-top: 3px solid rgba(255, 255, 255, 0.3);
  background-color: black;
  color: white;
}

.services-container {
  text-align: center;
}

.service {
  padding: 30px;
  text-align: center;
}
.service h2 {
  margin-bottom: 50px;
  font-size: 40px;
  letter-spacing: 6px;
}
.service p {
  line-height: 2;
}
.service-comp {
  padding: 10px;
  text-align: center;
}

.serv-comp h3 {
  margin: 20px 0;
}
.serv-comp i {
  font-size: 30px;
}
.serv-comp p {
  margin-bottom: 10px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.5);
}
@media (min-width: 767px) {
  .service-comp {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-column-gap: 30px;
  }
  .serv-comp {
    margin-bottom: 20px;
  }
}
/* END MAIN  */

/* START VIDEO SECTION  */

.video-section {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.video-section .text {
  position: absolute;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
}
.text p {
  line-height: 2;
}
.text p::first-letter {
  color: seagreen;
  font-size: 25px;
  margin-left: 10px;
  font-weight: 800;
}
.text p::first-line {
  margin-left: 10px;
}
@media (max-width: 767px) {
  .text p {
    display: none;
  }
}
.video-section video {
  width: 100%;
  background-color: rgba(7, 7, 7, 0.9);
}

/* END VIDEO SECTION  */
.angle-left:hover,
.angle-right:hover {
  animation: angle 0.5s ease-in-out alternate-reverse infinite;
}

/* END BODY THINGS */

/* KEYFRAM OVER  */
@keyframes changepos {
  0% {
    transform: translateY(-53%);
  }
  100% {
    transform: translateY(-48%);
  }
}
/* END KEYFRAME OVER*/

/* KEYFRAME ANGLE   */
@keyframes angle {
  0% {
    font-size: 30px;
  }
  100% {
    font-size: 40px;
  }
}
/* END KEYFRAME ANGLE   */

/* START CONTACT SECTION   */
.contact {
  text-align: center;
  background-color: rgba(7, 7, 7, 0.9);
  color: white;
  overflow: hidden;
  height: 100vh;
}
.contact .form-control form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.form-control h1 {
  font-size: 40px;
  padding: 20px 0;
  letter-spacing: 15px;
  box-shadow: 8px 11px 19px 0 black;
}
input {
  width: 500px;
  height: 40px;
  margin-bottom: 60px;
  outline: none;
  background-color: rgba(103, 128, 159, 0.1);
  border-radius: 10px;
  font-size: 18px;
  caret-color: rgb(61, 54, 54);
  color: white;
  border: none;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.1);
}
@media (max-width: 767px) {
  input {
    width: 250px;
  }
}

.error-message {
  font-weight: 600;
  margin-top: 15px;
}

textarea {
  width: 650px;
  height: 120px;
  outline: none;
  border-radius: 10px;
  font-size: 18px;
  background-color: rgba(103, 128, 159, 0.1);
  color: white;
  border: none;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.1);
}
@media (max-width: 767px) {
  textarea {
    width: 500px;
  }
}
@media (max-width: 515px) {
  input {
    font-size: 17px;
  }
  textarea {
    width: 300px;
    font-size: 16px;
  }
}

label {
  margin-bottom: 20px;
  font-weight: 600;
  opacity: 0.8;
  letter-spacing: 6px;
}
button {
  width: 130px;
  height: 30px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 50px;
  border: 1px solid white;
  opacity: 0.8;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.2);
  letter-spacing: 4px;
}
.error-message {
  color: red;
  letter-spacing: 1px;
}

.success {
  border: 2px solid green;
}
.error {
  border: 2px solid red;
}

.second {
  animation: oopacity 0.5s ease-in-out alternate-reverse infinite;
}

@keyframes oopacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* END CONTACT SECTION   */
